<%= turbo_frame_tag list, target: "_top" do %>
  <div class="card mb-2 mx-2">
    <div class="card-body position-relative">
      <%= link_to list, data: { "turbo-frame": "lists" } do %>
        <%= list.title %>
      <% end %>
      <div class="position-absolute top-50 translate-middle d-flex flex-row" style="right: -3rem;">
        <%= link_to "Editar", edit_list_path(list), class: "btn btn-sm btn-default me-2", data: { "turbo-frame": dom_id(list) }  %>
        <%= button_to "Borrar", list, method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
